<!DOCTYPE html>
<html>
<head>
  	<title>Mel & Nate Mexico</title>

  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js" %>
  	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js" %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>

<style type="text/css">
	*{
		font-family: Georgia;
		margin: 0 auto;
		text-align: center;
	}
	.container-fluid{
		background-color: #F7F7F7;
		padding: 50px;
	}
	a{
		font-size: 1.5em;
		color: black;
	}
	p{
		font-size: 1.2em;
	}
	.mainMenu{
	/*position: fixed;*/
 }

.main_jumbo{
	/*border: 5px solid black;*/
	background-color: white;
	height: 800px;
	width: 830px;
	box-shadow: 2px 2px 15px #888888;
	}

	.main_jumbo_photo{
		margin-top: 15px;
	}

	.main_jumbo_header{
		font-family: Brush Script MT;
		font-size: 4em;
	}

.main_our_story_photo, .main_proposal_photo, .rsvp_photo{
	border: 15px solid white;
	box-shadow: 2px 2px 15px #888888;
}

#main_navbar{
	top: 0;
	/*border: 1px dotted red;*/
	position: fixed;
	height: 71px;
	background-color: #F7F7F7;
	margin-right: 45px;
}

#main_navbar ul{
	margin-top: 20px;
}

.cursive{
	font-family: Brush Script MT;
}

.enlarge{
	font-size: 2em;
}
.minify{
	font-size: .8em;
}

.bridesmaids, .groomsmen{
	box-shadow: 2px 2px 15px #888888;
	background-color: white;
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 200px;
}

.rsvpForm{
	/*border: 1px dotted red;*/
	width: 700px;
}
 .rsvpForm label{
 	width: 120px;
 	/*border: 1px dotted green;*/
 }


.rsvp_guests{
 	/*border:1px dotted red;*/
 	margin-left: 150px;
 	width: 500px;
 }

 .rsvp_guests input{
 	/*border:1px dotted red;*/
 	width: 300px;
 }

 .red{
 	color: red;
 }

.green{
	color: green;
}

/*.pink{
	color: #F2797F;
}
*/

.detailsTop{
	border: 15px solid white;
	background-color: white;
	box-shadow: 2px 2px 15px #888888;
	width: 650px;
}


.resort_link{
	display: inline-block;
}



.ring_bearer{
	display: inline-block;
}
 .flower_girl{
 	margin-left: 20px;
 }

.Wbq597J{
	list-style-type: none;
}

.googDoc{
	color: blue;
	text-decoration: underline;
	font-size: 1.2em;
}
</style>


<body>
	<div class="contain">
		<div class="container-fluid">
			<%= yield %>
		</div>
	</div>
</body>
</html>






